# ignore all generated testsuites
core/generated/testsuites/*
!core/generated/testsuites/mandatory_folder.txt

nbproject
/generated/debug/
/generated/results/
/generated/setup-before-project/
/generated/testsuites/
/webinterface/progress.txt
/webinterface/tests.txt
/webinterface/progress.html
/generated/screenshots/
/bin/IEDriverServer.exe
/bin/chromedriver.exe
/downloads/chromedriver.zip
/downloads/IEDriverServer_Win32_2.42.0.zip
/downloads/
/bin/selenium-server-standalone-2.42.2.jar
/config/config.ini
/core/php_errors.log